<h2>現場一覧</h2>

<%= link_to "現場を登録", new_skill_path, class: "btn btn-info" %>

<% if @parties.any? %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>日時(開始時間)</th>
				<th>最寄り駅</th>
			</tr>
		</thead>
		<tbody>
			<% @parties.each do |party| %>
				<tr>
					<td><%= party.patry_start %></td>
					<td><%= party.station %></td>
					<td><%= link_to "削除", @party, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>