<div class="container">
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6">
			<h1>パスワードリセット申請</h1>
			<%= form_tag url: password_resets_path, local: true, method: :post do %>
				<div class="field">
					<%= text_field_tag :email, "メールアドレス", class: "form-control" %>
					<%= submit_tag "送信", class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>