	<h4><%= current_user.name %>さん</h4>
	<h2>パスワード変更</h2>
	
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6">
			
			<%= form_for :change_pass, url:change_pass_user_path) do |f| %>
				<div class="form-group">
					<%= f.label
				</div>
			
		</div>
	</div>