	<h4><%= current_user.name %>さん</h4>
	<h2>スケジュール</h2>
	<table class="table">
		<thead>
			<tr>
				<th>日時</th>
				<th>最寄り駅</th>
			</tr>
		</thead>
		<tbody>
		<% @parties.each do |party| %>
			<tr>
				<td><%= party.party_start %></td>
				<td><%= party.station %></td>
			</tr>
		<% end %>
		</tbody>
	</table>