<h2>スタッフ詳細</h2>

<div class="row">
	<aside class="col-md-6">
		#各ユーザ情報を表示
		<p>スタッフ№ ： <%= @user.staff_no %></p>
		<p>氏名 ： <%= @user.name %></p>
		<p></p>
		
	</aside>
	<div class="col-md-6">
		#タブ切り替えで現場、シフト希望、スキルを表示
	</div>
</div>