	<h4><%= current_user.name %>さん</h4>
	<h2>スキル</h2>
	<div class="col-xs-12">
		<!--<ul class="nav nav-tabs nav-justified">-->
		<!--	<li><a href="#">同窓会</a></li> ⇒なしにする？-->
		<!--	<li><a href="#">二次会</a></li>-->
		<!--</ul>-->
		<p>二次会</p>
	</div>