<h2>スキル一覧</h2>

<%= link_to "スキルを新規登録", new_skill_path, class: "btn btn-info" %>

<% if @skills.any? %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>№</th>
				<th>スキル</th>
			</tr>
		</thead>
		<tbody>
			<% @skills.each do |skill| %>
				<tr>
					<td><%= skill.id %></td>
					<td><%= skill.skill_name %></td>
					<td><%= link_to "削除", skill_path(skill), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>